.container {
  /* height: 100%; */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100dvh; /* Use dynamic viewport height */
  min-height: 100svh; /* Ensure it adapts to small viewport */
}

.caption {
  max-width: 33.333%;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 1rem;
  transform: translateY(-50%);
  z-index: 1;
}
.caption h1 {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.caption h1 span {
  display: inline-block;
  line-height: 1;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .slideFooter {
    display: flex;
  }
  .caption {
    max-width: 100vw;
  }
  .caption h1 {
    font-size: 3rem;
  }
  .controls {
    width: 100%;
  }
}
