.container {
  overflow: hidden;
  margin: 0;
  padding: 0;

  height: 100dvh; /* Use dynamic viewport height */
  min-height: 100svh; /* Ensure it adapts to small viewport */

  width: 100vw;
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

/* .slideContent {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
} */

.titleContainer {
  max-width: 33.333%;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 1rem;
  transform: translateY(-50%);
  z-index: 1;
}

.title {
  font-size: 6rem; /* Default size for desktops */
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  user-select: none;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

.title h1 span {
  display: inline-block;
  transform: translateY(0);
  will-change: transform, opacity;
  position: absolute;
}

/* .title span {
  position: absolute;
  top: 30%;
  left: -40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  user-select: none;
} */

.subTitle span {
  user-select: none;
  display: block;
}

.subTitle {
  font-size: 1.5rem;
  margin: 15px 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.otherTexts {
  overflow: hidden;
  margin-left: 50px;
}

.otherTexts .inner {
  margin: -50px 0 -150px;
}

.overlay {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
  top: 0;
  left: 0;
  content: "";
  z-index: 999;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.line33,
.line66 {
  content: "";
  position: absolute;
  top: 0;
  left: 33.33333%;
  /* background-color: #fff; */
  width: 0px;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 9;
}

.line66 {
  left: 66.66666%;
}

@media screen and (max-width: 640px) {
  .line33,
  .line66 {
    display: none;
  }

  .loading h2 {
    width: 100%;
    text-align: center;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  transform: translate(-50%, -50%);
}
